# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
env/
venv/
ENV/
.VENV/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs and debug files
*.log

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.bak

# Test coverage
.coverage
*.cover
coverage.xml
htmlcov/

# PyInstaller
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
